---
import SmoothScroll from '../ui-components/SmoothScroll.svelte';
import SplashTransition from '../ui-components/SplashTransition.svelte';
---


<SplashTransition client:only="svelte" />
<!--
<SmoothScroll client:load="svelte">
  <section style="height: 100vh;" data-scroll>
    <h1 data-scroll-speed="2">Zoomy Text</h1>
  </section>

  <section style="height: 100vh;" data-scroll>
    <h2 data-scroll-speed="-2">Parallax Reverse</h2>
  </section>
</SmoothScroll>
-->

<!--
<ParallaxLayer client:load speed={0.5}>
  <img src="https://picsum.photos/1920/1080" alt="Layer" />

  <img src="https://picsum.photos/1920/1080" alt="Layer" />

  </ParllaxLayer>

-->
