---
import SplashTransition from '../ui-components/SplashTransition.svelte';
---

<html lang="en">
  <head>
    <title>PW Portfolio</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <SplashTransition client:only="svelte">
      <h1 class="text-9xl text-white">PW</h1>
    </SplashTransition>
  </body>

</html>
